# ignore editor config files
/.vscode/
/.idea/

# ignore emacs backup files
*~

# ignore package-lock.json
package-lock.json

# ignore node_modules
/node_modules/

# ignore dist folder
/dist/

# ignore .DS_Store for macOS
.DS_Store
